/*Parte 2 */
p {
    /* color: blue; Valor de especificidad 1 por el tipo de selector elemento */
    color: blue !important; /*Al añadir !important no se tiene en cuenta el valor de especificidad, teniendo prevalencia esta regla de estilo */
}

.container p {
    color: green; /* Especificidad = 11 (10 tipo de selector clase + 1 tipo de selector elemento)  */
}

#parrafo {
    color: red; /* Especificidad 100 por el tipo de selector ID, el cual tiene prioridad sobre los anteriores. Aunque la especificidad se ve afectada al encontrar un !important el cual da prioridad al tipo de selector elemento*/
}

